.header{
    background-color: #495e57;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.header > article {
    width: 40%;
}

.header > article > h1 {
    color: #f4ce14;
}

#p1, #p2 {
    color: #fff;
    margin-top: -1em;
}

#p1 {
    font-size: 1.5em;
}

#p2 {
    width: 40%;
}

.header > article > a, #top > a {
    background-color: #f4ce14;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    color: black;
    font-size: .8em;
}

.header > article > a {
    width: 20%;
    padding: 10px 1em;
}

.header > img {
    width: 15%;
    height: 250px;
    z-index: 999999;
    top: 1.5em;
    border-radius: 5%;
    position: relative;
}

.main{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 5em;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top > a {
    padding: 10px 1em;
}

#menus{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.menu{
    width: 28%;
    display: flex;
    flex-direction: column;
    background-color: #edefee;
}

.menu > img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.detail, .menu > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

#p3, #p4 {
    font-weight: bold;
}

#p4 {
    color: #ee9972;
    font-size: 15px;
}

#p5 {
    width: 80%;
    margin: auto;
}

.menu > a {
    font-size: 12px;
}

.menu > a > img {
    width: 10%;
    margin-bottom: 2em;
}

/* desktop screens */
@media screen and (min-width: 769px){
    
}

/* mobile screens */
@media screen and (max-width: 768px){
    
}